<h2>Filtering</h2>

<p>Now let's add some filters. For this example we'll filter out available proteins and available clones, but remember this general pattern works with any combination of filters.</p>

<p>First we'll define a "filter' object. This just lets us keep track of what filters are on and makes it easy to update them.</p>

<pre>
var filters = {
  "species": "",
  "clone" : "Not available",
  "protein" : "Not available",
};
</pre>

<p>Notice there is a species filter, but it's empty so it won't do anything unless we change it.</p>

<pre>
function filter(d) {
  for (f in filters) {
    var filt = filters[f];
    filt = filt === "noFilter" ? "" : filt;
    if (d[f].indexOf(filt) < 0) {
      return false;
    }
  }
  return true;
};
</pre>
