<h2>Conceptually Structuring The Data</h2>

<p>First let's think about what the data needs to look like to make our barchart. We need to <b>plot</b> by <b>status</b>, <b>sort</b> by <b>maxCode</b>, <b>filter</b> by several different attributes and <b>group</b> by several different attributes.</p>

<p>To start simply we need a bar for each <b>status</b>. It'd be nice to break our dataset up by status and have a count for each one. Enter <code>d3.nest()</code>.</p>

<pre>
d3.csv("data.csv", function(data) {

  var data = d3.nest()
    .key(function(d) { return d.status })
    .entries(dataset);

});
</pre>

<p>Now instead of 12,952 elements we have an array with ____ elements</p>. When we use <code>data()</code> we'll get one object for each grouping, and we can easily scale them with the _____ property</p>