<h2>D3 Basics: CSS</h2>

<p>If you're not planning on downloading your D3 plot, most of the styling should be done with CSS. The following CSS made the elements on slide 5 blue.</p>

<pre>
circle, rect, ellipse, polygon {
  fill: #3498db;
}

line, polyline {
  fill: none;
  stroke: #3498db;
  stroke-width: 2;
}
</pre>

<p>You can also add classes to SVG elements.<p>

<pre>
circle.orange { fill: orange; }
circle.blue { fill: blue; }
</pre>

<pre>
&lt;circle cx=&quot;40&quot; cy=&quot;50&quot; r=&quot;25&quot; class=&quot;orange&quot;/&gt;
&lt;circle cx=&quot;100&quot; cy=&quot;50&quot; r=&quot;25&quot; class=&quot;blue&quot;/&gt;
</pre>

<svg>
  <circle cx="40" cy="25" r="25" class="orange"/>
  <circle cx="100" cy="25" r="25" class="blue"/>
</svg>