<h2>D3 Basics: Data-Binding</h2>

<blockquote>D3 allows you to bind arbitrary data to a Document Object Model (DOM), and then apply data-driven transformations to the document. For example, you can use D3 to generate an HTML table from an array of numbers. Or, use the same data to create an interactive SVG bar chart with smooth transitions and interaction.</blockquote>

<pre>
d3.select(&quot;#canvas2&quot;)
	.selectAll(&quot;circle&quot;)
	.data(data)
	.enter()
	.append(&quot;circle&quot;)
	.attr(&quot;cx&quot;, function(d,i) { return (i+1) * 30; })
	.attr(&quot;cy&quot;, function(d,i) { return d * 10; })
	.attr(&quot;r&quot;, function(d,i) { return d * 3; });
</pre>

<svg height="75" id="canvas" />