<h2>Loading The Data</h2>

<p>I saved the link as a CSV file called <code>data.csv</code>. D3 comes equipped with a CSV parsing function: <code>d3.csv("data.csv", callback)</code>. We'll put most of our code inside of the callback function because we can't draw anything until the data loads.</p>

<p><code>d3.csv()</code> turns our CSV into an array of objects. That way each row of the CSV is one point of data with the approriate object properties for each column.</p>

<pre>
[
 {activity: "active", batch: "Batch_01", class: "Alphaproteobacteria", clone: ... },
 {activity: "work stopped", batch: "Batch_01", class: "Alphaproteobacteria", clone: ... },
 {activity: "active", batch: "Batch_01", class: "Alphaproteobacteria", clone: ... },
 ...
]
</pre>