<h2>D3 Basics: SVG</h2>

<p>D3 usually usues SVG, an XML based image vector format. All modern web browsers support SVG.</p>
<p>Since SVG elements are vectors, they scale with no issue. Great for scientific graphics and text.</p>

<pre>
&lt;svg&gt;
  &lt;rect width=&quot;100&quot; height=&quot;100&quot; transform=&quot;rotate(45) translate(50,-50)&quot;/&gt;
  &lt;circle r=&quot;25&quot; cx=&quot;70&quot; cy=&quot;70&quot; /&gt;
&lt;/svg&gt;
</pre>

<svg>
	<rect width="100" height="100" transform="rotate(45) translate(50,-50)"></rect>
	<circle r="25" cx="70" cy="70" class="white"></circle>
</svg>