<h2>Changes to Scales</h2>

<p>Our SVG canvas doesn't care about these changes. However, we'll need to add an additional x scale. Our original x scale places groups by <b>status</b> and the new one will place rectangles inside of the group by <b>superkingdom</b>.</p>

<pre>
var x = d3.scale.ordinal()
  .domain(_.map(data, function(d) { 
      return d.key;
    }))
  .rangeRoundBands([0, width], 0.1);

<span class="new">var x1 = d3.scale.ordinal()</span>

var y = d3.scale.linear()
 .range([height, 0]);
</pre>

<p>Pretty painless! We just initialized a new ordinal scale. Since we're leaving this project open for different groupings we don't know enough yet to add the domain or range.</p>