<h2>Conceptually Structuring The Data</h2>

<p>First let's think about what the data needs to look like to make our barchart. We need to <b>plot</b> by <b>status</b>, <b>sort</b> by <b>maxCode</b>, <b>filter</b> by several different attributes and <b>group</b> by several different attributes.</p>

<p>We want to use different filters and grouping, but the data will always need to be sorted by maxcode, so let's do that now.</p>

<pre>
d3.csv("data.csv", function(dataset) {

  dataset = _.sortBy(dataset, function(d) { return parseInt(d.maxCode); });

});
</pre>

<p>The <code>_.sortBy()</code> is from lodash, a super useful JS library which has lots of useful functions for manipulating data. It'll come up frequently in these examples.</p>