<h2> What <i>Is</i> D3 </h2>

<blockquote>D3.js is a JavaScript library for manipulating documents based on data. D3 helps you bring data to life using HTML, SVG, and CSS.</blockquote>

<p>In other words, each point of data is linked to a DOM element.</p>

<h2>What Is D3 Good For?</h2>

<p>Creating powerful interactive data visualizations.</p>
<p>Creating unique visualizaions that can't be easily made in other software.</p>
<p>Procesing and manipulating data in Javascript.</p>
<p>Visualizations are typically in SVG (scalable vector graphics), which can be downloaded and treated like any other SVG or PDF file.</p>
