<h2>But How Did That Work?</h2>

<p>Some of that code probably looked a little strange. How did we select all circles before we added them? What does <code>enter()</code> do? Let's look at the code one line at a time.</p>

<p><code>d3.select("#canvas")</code><br>Selects the svg canvas element.</p>

<p><code>.selectAll("circle")</code><br>Returns a selection of all circle elements (in this case, an empty selection).</p>

<p><code>.data(data)</code><br>Load a dataset.</p>

<p><code>.enter()</code><br>Compares the dataset we just loaded to the circle selection. If there are fewer circles than data points, it adds more circles until there are enough.</p>

<p><code>.append("circle")</code><br>Add a circle for each data point we are entering.</p>

<p><code>.attr("cx", function(d,i) { return (i+1) * 30; })</code><br>Each <code>.attr()</code>, <code>.style()</code>, <code>.on()</code>, and <code>.transition()</code> simultaneously loops through the dataset and the added circles and applies attributes and events based on index and the data point at that index.</p>