<h2>D3 Scales</h2>

<p>How will our rectangles know how high and wide to be? We could do some math in the <code>height</code> and <code>width</code> attributes when we define them, but once again D3 does everything for us.</p>

<p>D3 has three classes of scale: <b>quantitative</b>, <b>ordinal</b>, and <b>time</b>. Our x axis will be an <b>ordinal</b> scale since it has 14 discrete levels. Our y axis will be a <b>linear</b> scale.</p>

<p>Scales return a function which takes a value in the domain and returns the correct value in the range.</p>

<pre>
var factors = _.unique(_.map(function(dataset) { return d.status; }));

var x = d3.scale.ordinal()
  .domain(factors)
  .rangeRoundBands([0, width], 0.1);

var y = d3.scale.linear()
  .range([height, 0]);
</pre>

<p>Why didn't we define a domain for y? The y domain will change every time we update the plot so it makes sense to define it later in the plotting code.</p>